@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400&family=Shadows+Into+Light+Two&display=swap');

:root {
  font-family: 'Courier Prime', monospace;
  font-family: 'Shadows Into Light Two', cursive;
  line-height: 1.5;
  font-weight: 400;

  color: #8e8d8a;
  background-color: #EAE7DC;
}

* {
  margin: 0;
  padding: 0;
}